<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tht.mapper.GoodsMapper">
    <resultMap id="goodsMap1" type="Goods">
        <id column="id" property="id" />
        <result column="name" property="name"/>
        <result column="price" property="price"/>
    </resultMap>
    <select id="selectGoods" resultType="Goods">
        select * from goods
        <where>
            <if test="name != null and name != ''">
                <bind name="name" value="'%'+name+'%'"/>
                and name like #{name}
            </if>
        </where>
        limit ${(pageIndex-1)*pageSize},${pageIndex*pageSize}
    </select>
    <select id="selectGoodsCount" resultType="int">
        select count(1) from goods
        <where>
            <if test="name != null and name != ''">
                <bind name="name" value="'%'+name+'%'"/>
                and name like #{name}
            </if>
        </where>
    </select>
    <insert id="addGoods" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into goods values(default,#{name},#{price})
    </insert>
</mapper>